<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.CheckoutItemMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.CheckoutItem">
    <id column="id" property="id" />
    <result column="unitpPrice" property="unitpPrice" />
    <result column="number" property="number" />
    <result column="amount" property="amount" />
    <result column="status" property="status" />
    <result column="bill_id" property="bill_id" />
    <result column="member_id" property="member_id" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from checkoutitem
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into checkoutitem (unitpPrice, number, amount, product_id, status, bill_id, 
      member_id)
    values (#{unitpPrice}, #{number}, #{amount}, #{product.id}, #{status}, #{bill.id}, 
      #{member.id})
  </insert>
  <update id="updateByPrimaryKey">
    update checkoutitem
    set unitpPrice = #{unitpPrice},
      number = #{number},
      amount = #{amount},
      product_id = #{product.id},
      status = #{status},
      bill_id = #{bill.id},
      member_id = #{member.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, unitpPrice, number, amount, product_id, status, bill_id, member_id
    from checkoutitem
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, unitpPrice, number, amount, product_id, status, bill_id, member_id
    from checkoutitem
  </select>
</mapper>