<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.MaxTypeMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.MaxType">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <collection property="minTypes" column="id" ofType="MaxType"
        select="cn.wolfcode.crm.mapper.MinTypeMapper.selectByMaxTypeId"/>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from maxtype
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into maxtype (name)
    values (#{name})
  </insert>
  <update id="updateByPrimaryKey">
    update maxtype
    set name = #{name}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name
    from maxtype
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from maxtype
  </select>
</mapper>