<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.MemberTopUpMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.MemberTopUp">
    <id column="id" property="id" />
    <result column="addbalance" property="addbalance" />
    <result column="addcount" property="addcount" />
    <result column="give" property="give" />
    <result column="toptime" property="toptime" />
    <result column="intro" property="intro" />
    <result column="product_id" property="product_id" />
    <result column="discount" property="discount" />
    <result column="state" property="state" />

  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from membertopup
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into membertopup (addbalance, addcount, give, toptime, intro, member_id, 
      product_id, discount,state)
    values (#{addbalance}, #{addcount}, #{give}, #{toptime}, #{intro}, #{member.id},
      #{product_id}, #{discount},#{state})
  </insert>
  <update id="updateByPrimaryKey">
    update membertopup
    set addbalance = #{addbalance},
      addcount = #{addcount},
      give = #{give},
      toptime = #{toptime},
      intro = #{intro},
      member_id = #{member.id},
      product_id = #{product_id},
      discount = #{discount}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, addbalance, addcount, give, toptime, intro, member_id, product_id, discount
    from membertopup
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, addbalance, addcount, give, toptime, intro, member_id, product_id, discount
    from membertopup
  </select>
</mapper>