<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Member">
        <id column="id" property="id"/>
        <result column="memberNum" property="memberNum"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="grade_id" property="gradeId"/>
        <result column="payment_id" property="paymentId"/>
        <result column="points" property="points"/>
        <result column="balance" property="balance"/>
        <result column="usefullife" property="usefullife"/>
        <result column="state" property="state"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
        DELETE FROM member
        WHERE id = #{id}
    </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO member (memberNum, name, phone, password, grade_id, payment_id,
                            points, balance, usefullife, onUser_id,state)
        VALUES (#{memberNum}, #{name}, #{phone}, #{password}, #{gradeId}, #{paymentId},
                #{points}, #{balance}, #{usefullife}, #{onUser.id},#{state})
    </insert>
    <update id="updateByPrimaryKey">
        UPDATE member
        SET memberNum  = #{memberNum},
            name       = #{name},
            phone      = #{phone},
            password   = #{password},
            grade_id      = #{gradeId},
            payment_id    = #{paymentId},
            points     = #{points},
            balance    = #{balance},
            usefullife = #{usefullife},
            onUser_id  = #{onUser.id}
        WHERE id = #{id}
    </update>

<!--设置会员是否挂失-->
    <update id="changeState">
        update member set state = state^1 where id = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
            id,
            memberNum,
            name,
            phone,
            password,
            grade_id,
            payment_id,
            points,
            balance,
            usefullife,
            onUser_id,
            state
        FROM member
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            memberNum,
            name,
            phone,
            password,
            grade_id,
            payment_id,
            points,
            balance,
            usefullife,
            onUser_id,
            state
        FROM member
    </select>
    <select id="queryCount" resultType="int" parameterType="cn.wolfcode.crm.query.QueryObject">
    select count(id) from member
    </select>
    <select id="queryForList" resultMap="BaseResultMap">
        select  id,
            memberNum,
            name,
            phone,
            password,
            grade_id,
            payment_id,
            points,
            balance,
            usefullife,
            onUser_id,
            state
        FROM member
        limit #{start},#{rows}
    </select>
</mapper>