<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.PayItemMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.PayItem">
    <id column="id" property="id" />
    <result column="type" property="type" />
    <result column="amount" property="amount" />
    <result column="date" property="date" />
    <result column="remark" property="remark" />
    <!--查询支出人：关联查询-->
    <association property="payUser" javaType="Employee" columnPrefix="e_">
      <id property="id" column="id"/>
      <result property="username" column="username"/>
    </association>
    <!--查询支出：关联查询-->
    <association property="pay" javaType="Pay" columnPrefix="p_">
      <id property="id" column="id"/>
      <result property="type" column="type"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from payitem
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into payitem (type, amount, date, payUser_id, remark, pay_id)
    values (#{type}, #{amount}, #{date}, #{payUser.id}, #{remark}, #{pay.id})
  </insert>
  <update id="updateByPrimaryKey">
    update payitem
    set type = #{type},
      amount = #{amount},
      date = #{date},
      payUser_id = #{payUser.id},
      remark = #{remark},
      pay_id = #{pay.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
   <include refid="base_select"/>
    <include refid="base_from"/>
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <include refid="base_select"/>
    <include refid="base_from"/>
  </select>


  <sql id="base_select">
    select pi.id,pi.type,pi.amount, pi.date, pi.payUser_id,pi.remark,pi.pay_id,
      p.id p_id,p.type p_type,e.id e_id,e.username e_username
  </sql>
  <sql id="base_from">
    from payitem pi LEFT JOIN pay p on pi.pay_id=p.id LEFT JOIN employee e on pi.payUser_id=e.id
  </sql>


  <!--高级查询-->
  <select id="queryCount" resultType="int">
    select count(pi.id)
    <include refid="base_from"/>
    <include refid="base_where"/>
  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    <include refid="base_select"/>
    <include refid="base_from"/>
    <include refid="base_where"/>
    limit #{start},#{rows}
  </select>

  <sql id="base_where">
    <where>
      <if test="today!=null">
        and DateDiff(pi.date,now())=0
      </if>
      <if test="week!=null">
        and YEARWEEK(date_format(pi.date,'%Y-%m-%d')) = YEARWEEK(now())

      </if>
      <if test="month!=null">
        and DATE_FORMAT(pi.date,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
      </if>
      <if test="beginDate!=null">
        and pi.date >=#{beginDate}
      </if>
      <if test="endDate!=null">
        and pi.date &lt;=#{endDate}
      </if>
    </where>
  </sql>
  

</mapper>